<!DOCTYPE html>
<html ng-app="clock">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="app.component.scss" />
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js" data-semver="1.0.7"></script>
    <script src="clock.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <h1 class="text-center">Digital Clock</h1>
    <div class="alert alert-info text-center clock">{{theclock}}</div>

    <div digital-clock></div>
  </body>

</html>
