<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Clock</title>
</head>
<body>
  <div class="digitalClock">
    <div class="dayTitle">
      {{day}}
    </div>
    <div class="digitalTime">
      <div>{{hour}} : &nbsp;</div>
      <div>{{minute}} : &nbsp;</div>
      <div>{{second}} : &nbsp;</div>
      <div class="ampm">{{ampm}}</div>
    </div>
  </div>


</body>
</html>
